# Скопируй в .env и заполни своими значениями
# cp .env.example .env

DB_PASSWORD=your_strong_password_here
JWT_SECRET=your_very_long_random_secret_here

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=your_minio_password_here
